/* * {
    margin: 0;
    padding: 0;
} */

html {
    /* border-left: 5px solid lightgray; ---instructions from hw*/
}

body {
    min-height: 100%;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;
    border-left: 5px solid lightgray;
}

header, main, footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    color: tomato;
}

img {
    width: 100%;
}

.nav-list {
    padding: 0;
    list-style-type: none;
    display: flex ;
    justify-content:space-between;
}

.top-a {
    color:lightgray;
}

.bot-a {
    text-decoration: none;
    color: tomato;
}

.article-title {
    font-size: 30pt;
}

.continue {
    text-decoration: none;
    color: tomato;
    justify-self:right;
}

aside {
    display:flex;
    justify-content: right;
}

article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

p::first-letter {
    color:lightgray;
    font-size:5rem;
    font-weight: 500;
    float: left;
}

.copy {
    color:lightgray;
}